*{
  margin:0;
  padding:0;
}

body{
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 30px;
  color: var(--text-color);
  background-color:var(--bg-color) ;
}

ul{
  list-style-type: none;
}

::-webkit-scrollbar{
  width: 0px;
}

:root{
  --text-color: #fff;
  --highlight: #8fd9e2;
  --state-color: #063977;
  --border-n-glow: blue;
  --bg-color: #000022;
}