header{
  width: 100%;
  text-align: center;
}

#map-container{
  display: grid;
  width: 100%;
  grid-template-rows: repeat(8, 75px);
  grid-template-columns: repeat(12, 75px);
  justify-content: center;
  border: 2px solid green;
}

#map-container button{
  width: 65px;
  height: 65px;
  cursor: pointer;
  border: 2px solid blue;
}

.blank-space{
  width: 65px;
  height: 65px;
  color: var(--text-color);
}