header{
  width: 50%;
  padding: 5px;
  position: relative;
  margin: auto auto 50px auto;
  text-align: center;
  border: 4px dotted var(--border-n-glow);
}

header:after{
  content:'';
  display: block;
  position: absolute;
  width: 80%;
  top: -5px;
  right: 0px;
  border: 5px solid var(--bg-color);
}
header:before{
  content:'';
  display: block;
  position: absolute;
  width: 80%;
  bottom: -5px;
  left: 0px;
  border: 5px solid var(--bg-color);
}

h1:before, h1:after{
  content: "\2022";
}

h1{
  margin-top: 17px;
  justify-content: center;
}

#pie-chart-container{
  display: flex;
}

#map-container{
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-rows: repeat(8, 75px);
  grid-template-columns: repeat(12, 75px);
  justify-content: center;
}

#map-container button{
  width: 65px;
  height: 65px;
  cursor: pointer;
  border: 2px dotted var(--border-n-glow);
  border-radius: 12px;
  background-color: var(--state-color);
  color: var(--text-color);
  font-weight: bold;
  font-size: 1em;
}

#map-container button:hover, #map-container button:focus{
  background-color: var(--highlight);
  transition: ease .3s;
  color: #000;
  filter: drop-shadow(0 0 0.5rem var(--state-color));
}

.blank-space{
  width: 65px;
  height: 65px;
  color: var(--text-color);
}

@media screen and (max-width: 1081px){
  
  header{
    width: 100%;
  }

  #map-container{
    grid-template-rows: repeat(8, 55px);
    grid-template-columns: repeat(12, 55px);
  }
  
  #map-container button{
    width: 45px;
    height: 45px;
    font-size: 1em;
    border-radius: 10px;
  }
}

@media screen and (max-width: 680px){
  #map-container{
    grid-template-rows: repeat(8, 45px);
    grid-template-columns: repeat(12, 30px);
  }
  
  #map-container button{
    width: 27px;
    height: 30px;
    margin-bottom: 35px;
    font-size: .9em;
    border-radius: 10px;
    border: none;
  }
}