h4{
  width: 25%;
  margin: 100px auto auto auto;
  font-size: 2.5em;
  text-align: center;
  border-bottom: 3px dotted blue;

}

#stats-wrapper{
  display: flex;
  flex-direction: row;
  padding: 25px;
}

#stats-wrapper li{
  font-size: 1.2em ;
}

#risk-container, #metrics-container, #icu-beds-container{
  backdrop-filter: blur(5px) saturate(176%);
  -webkit-backdrop-filter: blur(5px) saturate(176%);
  background-color: rgba(17, 25, 40, 0.41);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 5px;
}

h2{
  font-size: 1.75em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.125);
}

h3{
  font-size: 5em;
  border-bottom: 3px dotted blue;
  filter: drop-shadow(0 0 0.5rem blue);
}

#risk-container{
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  margin-right: 25px;
}

#risk-list li{
  padding: 15px;
}

#metrics-icu-wrapper{
display: flex;
flex-direction: column;
width: 70%;
}

#metrics-container{
  width: 100%;
  margin-bottom: 25px;
}

#col-container{
  display: flex;
  flex-direction: row;
}

#col-container li{
  padding: 15px;
}

#left-col{
  width: 50%;
}

#right-col{
  width: 50%;
}

#icu-beds-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#pie-chart-container{
  width: 100%;
}

#place-holder-block{
  width: 200px;
  height: 200px;
  margin: auto;
  background-color: wheat;
}

footer{display: none}

@media screen and (max-width: 1081px){
  #stats-wrapper{
    flex-direction: column;
  }

  #risk-container, #metrics-icu-wrapper{
    width: 100%;
    margin-top: 25px;
  }

  #stats-wrapper li{
    font-size: .97em ;
  }
}